<div class="menu-bar_container">
    <div class="menu-bar_logo">
        <a href="#">
            <img src="https://img.freepik.com/vetores-premium/coroa-ilustracao-vetorial-em-design-de-logotipo-de-estilo-cartoon_605910-65.jpg" alt="coroa">
        </a>
    </div>
    <div class="menu-bar_title">
        <h4>Igreja Missionária Filhos do Reino</h4>
        <p>Itajaí, SC</p>
    </div>
    <div class="menu-bar_item">
        
        <ul>
            <li><a href="">Visite</a></li>
            <li><a href="">Sobre nós</a></li>
            <li><a href="">Conecte</a></li>
            <li><a href="">Contato</a></li>
            <li><a href="">Doe</a></li>
        </ul>
    </div>
</div>
